<p id="notice"><%= notice %></p>

<h1>Accounts for <%= current_user.email %></h1>
<h3>Total Balance: <%= humanized_money_with_symbol current_user.total_balance_cents %> </h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Min payment</th>
      <th>Due date</th>
      <th>Date paid</th>
      <th>Amount paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= humanized_money_with_symbol account.balance_cents %></td>
        <td><%= humanized_money_with_symbol account.min_payment_cents %></td>
        <td><%= account.due_date %></td>
        <td><%= account.date_paid %></td>
        <td><%= humanized_money_with_symbol account.amount_paid_cents %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
